.login {
    text-align: center;
}

.login .iconBadge,
.login a,
.login form {
    margin-bottom: 20px;
}

.login .button,
.login a {
    display: block;
    width: 100%;
}

.login h1 {
    font-size: 1.5em;
    color: var(--text-color);
}

.login h2 {
    font-size: 1.2em;
    color: var(--text-color-light);
}