.profile .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.profile .profile-header h1 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--text-color);
}

.profile .profile-header h2 {
    font-size: 1.2em;
    color: var(--text-color-light);
}

.profile .info {
    margin-bottom: 10px;
}

.profile .label {
    font-weight: 500;
}
