.reservation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.reservation-header h1 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--text-color);
}

.reservation-header h2 {
    font-size: 1.2em;
    color: var(--text-color-light);
}

#reservations {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#reservations .card {
    margin-bottom: 20px;
    width: 180px;
    height: 280px;
}
