.car-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-header h1 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--text-color);
}

.car-header h2 {
    font-size: 1.2em;
    color: var(--text-color-light);
}

#cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#cars .card {
    margin-bottom: 20px;
    width: 180px;
    height: 280px;
}
