.car-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.car-header h1 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--text-color);
}

.car-header h2 {
    font-size: 1.2em;
    color: var(--text-color-light);
}

#cars {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#cars .card {
    margin-bottom: 20px;
    width: 180px;
    height: 242px;
}

#cars .card footer button {
    margin-right: 10px;
}

#edit-car-modal button,
#new-car-modal button,
#rent-car-modal button {
    width: 100%;
}